/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* /reset */

/* common */
body {
  font-family: sans-serif;
}
/* /common */

/* intro */
.intro-container {
  min-height: 100vh;
  text-align: center;
  position: relative;
  background-color: black;
}
.title-container {
  font-size: 40px;
  letter-spacing: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.title {
  color: #f5afe0;
  /* font-family: "Great Vibes", cursive; */
  font-family: "Pacifico", cursive;
  font-size: 40px;
  letter-spacing: 10px;
  text-shadow: 0px 0px 10px #d1269e, 0px 0px 20px #d1269e;
}
.stroke-effect {
  color: transparent;
  -webkit-text-stroke: 1px #000000;
  text-transform: uppercase;
  /* text-shadow: 0px 0px 10px #0086c4, 0px 0px 20px #0086c4; */
  font-family: "Viga", sans-serif;
  animation: animate 5s 4.5s forwards;
  display: inline-block;
  margin-top: 10px;
}
@keyframes animate {
  0%,
  16%,
  22%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    /* color: #01435f; */
    color: transparent;
    text-shadow: none;
  }
  16.1%,
  23.1%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  100% {
    color: white;
    -webkit-text-stroke: 1px #18a0f7;
    text-shadow: 0px 0px 10px #0086c4, 0px 0px 20px #0086c4,
      0px 0px 40px #0086c4, 0px 0px 80px #0086c4, 0px 0px 160px #0086c4;
  }
}

/* @keyframes rotate {
  100% {
    transform: rotate(20deg);
  }
} */
@keyframes enter {
  100% {
    color: #f4ee7d;
    text-shadow: 0px 0px 10px #f4ee7d, 0px 0px 20px #f4ee7d;
  }
}
.enter {
  background-color: transparent;
  font-size: 15px;
  border: none;
  /* border: 1px solid white; */
  padding: 20px 35px;
  position: absolute;
  bottom: 100px;
  right: 47%;
  cursor: pointer;
  transition: 0.5s;
  /* animation: enter 3s 8s forwards; */
}
.enter a {
  text-decoration: none;
  color: black;
  animation: enter 3s 8s forwards;
}
.enter:hover a {
  color: #f4ee7d;
  text-shadow: 0px 0px 10px #f4ee7d, 0px 0px 20px #f4ee7d;
}
.enter span {
  display: block;
  position: absolute;
  background: #f4ee7d;
  box-shadow: 0px 0px 10px #f4ee7d, 0px 0px 20px #f4ee7d, 0px 0px 60px #f4ee7d;
}
.enter span:nth-child(1) {
  left: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}
.enter:hover span:nth-child(1) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}

.enter span:nth-child(2) {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.enter:hover span:nth-child(2) {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s;
}

.enter span:nth-child(3) {
  right: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}
.enter:hover span:nth-child(3) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}

.enter span:nth-child(4) {
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.enter:hover span:nth-child(4) {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s;
}

/* /intro */
